<!DOCTYPE html>
<html>
<head>
  <title>Internet Cookies</title>
  <%= stylesheet_link_tag 'formtastic', 'application' %>
</head>
<body>

  <header>
    <%= image_tag 'logo.png', :alt => 'Internet Cookies', :class => 'logo' %>
    <%= content_tag :div, @questionnaire.remaining, :class => 'remaining' %>
  </header>
  
  <article>
    <%= yield %>
  </article>
  
  <footer>
    By <%= link_to '@Aupajo', 'http://twitter.com/Aupajo' %>
  </footer>

</body>
</html>
